<div class="row">
	<main class="col-md-12">
		<!-- Start your code here -->
		<p>
			Thank you for visiting my site.
		</p>

		<section>					
			<h1>About me</h1>
			<p>
			Hi, I am Lok Prakash Pandey.<br/>
			<h6>Following is my web presence: </h6>
			Email: lok.prakash.pandey@outlook.com | lokprakashpandey@gmail.com <br/>
			LinkedIn: https://www.linkedin.com/in/lok-prakash-pandey/ <br/>
			Portfolio: https://lokprakashpandey.gitlab.io/ <br/>
			Blog: https://www.lokprakashpandey.com.np/ <br/>
			GitHub: https://github.com/lokprakashpandey <br/>
			</p>
		</section>
		<!-- End your code here  -->

	</main>
</div>
