<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<form method="POST" action="/departments/add">
			<fieldset>
				<legend>Personal Information</legend>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Department Name:</label>
							<input class="form-control" name="departmentName" type="text" />
						</div>
					</div>
				</div>
			</fieldset>
		
			<hr />
		
			<input type="submit" class="btn btn-primary float-right" value="Add Department" /><br /><br /><br />
		</form>
		<!-- End your code here  -->

	</main>
</div>