<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<form method="POST" action="/employees/add">
			<fieldset>
				<legend>Personal Information</legend>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>First Name:</label>
							<input class="form-control" name="firstName" type="text" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Last Name:</label>
							<input class="form-control" name="lastName" type="text"  />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Email:</label>
							<input class="form-control" name="email" type="text" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Social Security Num:</label>
							<input class="form-control" name="SSN" type="text"  />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Address (Street):</label>
							<input class="form-control" name="addressStreet" type="text"  />
						</div>
					</div>
					<div class="col-md-3">
						<label >Address (City):</label>
						<input class="form-control" name="addressCity" id="addressCity"  type="text"  />
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Address (State):</label>
							<input class="form-control" name="addressState"  type="text"  />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Address (Zip Code):</label>
							<input class="form-control" name="addressPostal" type="text" />
						</div>
					</div>
				</div>
			</fieldset>
		
			<fieldset>
				<legend>Company Information</legend>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Manager:</label>
							<input class="form-control" name="isManager" type="checkbox" />
						</div>
					</div>
		
					<div class="col-md-3">
						<div class="form-group">
							<label >Employee's Manager Number:</label>
							<input class="form-control" name="employeeManagerNum" type="text" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Status:</label><br />
							<label class="checkbox-inline">
								<input type="radio" name="status" value="Full Time" /> Full Time
							</label>
							<label class="checkbox-inline">
								<input type="radio" name="status" value="Part Time" /> Part Time
							</label>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Department</label>
								{{#if departments}}
									<select class="form-control" name="department" id="department">
										<option value="">Select Department</option>
										{{#each departments}}
										<option value="{{departmentId}}">{{departmentName}}</option>
										{{/each}}
									</select>
								{{else}}
									<div>No Departments</div>
								{{/if}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9">
						<div class="form-group">
							<label>Hire Date</label>
							<input class="form-control"  name="hireDate" type="date" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Marital Status</label><br/>
								<input type="radio" name="maritalStatus" value="single" /> Single
								<input type="radio" name="maritalStatus" value="married" /> Married
						</div>
					</div>
				</div>
			</fieldset>
		
			<hr />
		
			<input type="submit" class="btn btn-primary float-right" value="Add Employee" /><br /><br /><br />
		</form>
		<!-- End your code here  -->

	</main>
</div>