<div class="row">
    <div class="col-md-12">
        <br>
        <h2>
            Departments
            <a href="/departments/add" class="btn btn-success float-right">Add New Department</a>
        </h2>
        <hr />
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Department Number</th>
                        <th>Department Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each departments}}
                    <tr>
                        <td><a href = "/employees?department={{departmentId}}">{{departmentId}}</a></td>
                        <td><a href = "/department/{{departmentId}}">{{departmentName}}</a></td>
                        <td><a href="/departments/delete/{{departmentId}}" class="btn btn-danger">remove</a></td>
                    </tr>                    
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    {{#unless departments}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>