<div class="row">
    <div class="col-md-12">
        <br>
        <h2>{{department.departmentName}} - Department: {{department.departmentId}}</h2>
        <hr />
        <form method="POST" action="/department/update">
            <input type="hidden" name="departmentId" value="{{department.departmentId}}">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="departmentName">Department Name</label>
                        <input class="form-control" id="departmentName" name="departmentName" type="text"
                            value="{{department.departmentName}}" />
                    </div>
                </div>
            </div>
            
            <hr />

            <input type="submit" class="btn btn-primary float-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>
