<div class="row">
    <div class="col-md-12">
        <br>
        <h2>{{viewData.employee.firstName}} {{viewData.employee.lastName}} - Employee: {{viewData.employee.employeeNum}}</h2>
        <hr />
        <form method="post" action="/employee/update">
            <input type="hidden" name="employeeNum" value="{{viewData.employee.employeeNum}}">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text"
                                value="{{viewData.employee.firstName}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="lastName" name="lastName" type="text"
                                value="{{viewData.employee.lastName}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="text"
                                value="{{viewData.employee.email}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SSN">Social Security Num:</label>
                            <input class="form-control" id="SSN" name="SSN" type="text"
                                value="{{viewData.employee.SSN}}" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street):</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text"
                                value="{{viewData.employee.addressStreet}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressCity">Address (City):</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text"
                                value="{{viewData.employee.addressCity}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressState">Address (State):</label>
                            <input class="form-control" id="addressState" name="addressState" type="text"
                                value="{{viewData.employee.addressState}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressPostal">Address (Zip Code):</label>
                            <input class="form-control" id="addressPostal" name="addressPostal" type="text"
                                value="{{viewData.employee.addressPostal}}" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Company Information</legend>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isManager">Manager:</label>
                            {{#if viewData.employee.isManager}}
                            <input class="form-control" type="checkbox" id="isManager" name="isManager" checked />
                            {{else}}
                            <input class="form-control" type="checkbox" id="isManager" name="isManager" />
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="employeeManagerNum">Employee's Manager Number:</label>
                            <input class="form-control" id="employeeManagerNum" 
                            name="employeeManagerNum" type="text" value="{{viewData.employee.employeeManagerNum}}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status:</label><br />
                            <label  class="checkbox-inline">
                                <input type="radio" id="statusFT" name="status" {{#equal viewData.employee.status "Full Time"}}checked{{/equal}} value="Full Time" /> Full Time
                            </label>
                            <label  class="checkbox-inline">
                                <input type="radio" id="statusPT" name="status" {{#equal viewData.employee.status "Part Time"}}checked{{/equal}} value="Part Time" /> Part Time
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="department">Department</label>
                                {{#if viewData.departments}}
                                    <select class="form-control" name="department" id="department">
                                        <option value="">Select Department</option> 
                                        {{#each viewData.departments}}
                                            <option value="{{departmentId}}" {{#if selected}} selected {{/if}} >{{departmentName}} </option>
                                        {{/each}}
                                    </select>
                                {{else}}
                                        <div>No Departments</div>
                                {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="hireDate">Hire Date</label>
                            <input class="form-control" id="hireDate" name="hireDate" type="text" value="{{viewData.employee.hireDate}}" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
						<div class="form-group">
							<label>Marital Status</label><br/>
								<input type="radio" name="maritalStatus" value="single" {{#equal viewData.employee.maritalStatus "single"}}checked{{/equal}}/> Single
								<input type="radio" name="maritalStatus" value="married" {{#equal viewData.employee.maritalStatus "married"}}checked{{/equal}}/> Married
						</div>
					</div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary float-right" value="Update Employee" /><br /><br /><br />
        </form>
    </div>
</div>