<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<p>
			Welcome to my website, I will be demonstrating HTML5 principles 
			and techniques, DOM manipulation, web semantics and so on.
		</p>
		
		<section>
			<header><h1>Introduction</h1></header>
			<p>
			This site consists of 3 static views (<a href = "http://localhost:8080/">
			Home</a>, <a href = "http://localhost:8080/about">About</a>, 
			<a href = "http://localhost:8080/htmlDemo">HTML Demo</a>) as well as 
			5 routes that supply data, including: <a href = 
			"http://localhost:8080/employees"> All Employees</a>, 
			<a href = "http://localhost:8080/employees?department=3">
			Employees by Department</a>,<a href = 
			"http://localhost:8080/employee/2">	A Single Employee By Employee 
			Number</a>,<a href = "http://localhost:8080/managers"> 
			All Managers</a> and <a href = "http://localhost:8080/departments">
			All Departments</a>.
			</p>
		</section>
					
		<section>
			<header>
				<h1>HTML5</h1>
			</header>
				<p>
				This site utilizes HTML5: a markup language used for structuring 
				and presenting content on the World Wide Web. It's actually three 
				kinds of code: HTML, which provides the structure; Cascading Style 
				Sheets (CSS), which take care of presentation; and JavaScript, 
				which makes things happen.
				</p>
		</section>
		<!-- End your code here  -->

	</main>
</div>
