<div class="row">
	<main class="col-md-12">
	<!-- Start your code here -->
	<section>
		<header><h1>Tables</h1></header>
		<table class = "table table-bordered">
			<caption>Students and Fees</caption>
			<thead>
				<tr>
					<th>Student Id</th>
					<th>Student Name</th>
					<th>Fees Due</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0001</td>
					<td>John</td>
					<td>125</td>
				</tr>
				<tr>
					<td>0002</td>
					<td>Alex</td>
					<td>190</td>
				</tr>
				<tr>
					<td>0003</td>
					<td>Diana</td>
					<td>175</td>
				</tr>
				<tr>
					<td>0004</td>
					<td>Lok</td>
					<td>100</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">Total due</td>
					<td>$590</td>
				</tr>
			</tfoot>
		</table>
		
		<table class="table table-bordered">
			<caption>Class schedule</caption>
			<thead>
				<tr>
					<th>
						Subject
					</th>
					<th>
						Time
					</th>
					<th>
						Professor
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2">Web Programming</td>
					<td>1:30 pm - 3:15 pm (Monday)</td>
					<td rowspan="2"><a href = 
						"https://ict.senecacollege.ca/~patrick.crawford/">
						Patrick Crawford</a></td>
				</tr>
				<tr>
					<td>2:25 pm - 4:10 pm (Friday)</td>
				</tr>
				<tr>
					<td>Operating Systems</td>
					<td>12:35 pm - 2:20 pm</td>
					<td><a href = "https://matrix.senecacollege.ca/~hong.huang/">
						Hong Huang</a></td>
				</tr>
				<tr>
					<td rowspan = "2">Java Programming</td>
					<td>8:00 am - 9:45 am (Monday)</td>
					<td rowspan = "2"><a href = 
						"https://ict.senecacollege.ca/?q=staff/burton-eden">
						Eden Burton</a></td>
				</tr>
				<tr>
					<td>12:35 pm - 3:15 pm (Thursday)</td>
				</tr>
			</tbody>
		</table>
		<p>
			This is table section and we have created two tables. The first
			table is regarding information about students and their due fees.
			It utilizes thead, tbody, tfoot, tr, th, td and colspan tags. The 
			second table is regarding our class schedule and it uses <i>almost all
			</i> of the tags in first table plus rowspan and anchor tag.
		</p>
	</section>

	<section>
		<header>
			<h1>Lists</h1>
			<h6>Grocery List</h6>
		</header>
		<ol>
			<li>Rice</li>
			<li>Wheat Flour</li>
			<li>Oil</li>
				<ul>
					<li>Mustard Oil</li>
					<li>Soy Oil</li>
					<li>Coconut Oil</li>
				</ul>
			<li>Non-Veg</li>
				<ul>
					<li>Chicken Wings</li>
					<li>Lamb</li>
					<li>Fish</li>
					<li>Chicken Sausage</li>
				</ul>
			<li>Milk</li>
			<li>Butter</li>
		</ol>
		<p>
			This is an example of ordered and unordered list nested inside
			each other. This is a grocery list and it utilizes tags such
			as ol, ul, and li. 
		</p>
	</section>

	<section>
		<header><h1>Images</h1></header>
		<img src = "https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
			alt = "Snowboarder"/>
			<img src = "https://www.w3schools.com/html/pic_trulli.jpg" alt = "Trulli"/>
			<img src = "https://www.w3schools.com/html/img_chania.jpg" alt = "Flowers in Chania"/>
			<p>
				Here is how to add images to web pages. There may be situations when 
				images may not load and in such situation the alt text would be shown.
			</p>
	</section>

	<section>
		<header><h1>Audio</h1></header>
		<audio controls>
				<source src = "https://ict.senecacollege.ca/~patrick.crawford/shared/fall-2019/web700/A3/Track03.mp3" type ="audio/mpeg">
				<source src = "https://ict.senecacollege.ca/~patrick.crawford/shared/fall-2019/web700/A3/Track03.ogg" type="audio/ogg">
		</audio>
		<p>
			Here we used audio tag to add audio to our web page. Most browsers 
			support ogg but some browsers like Safari and IE prefer mp3 so we 
			supplied both mp3 and ogg versions. The browser tries each version 
			in order to find one it can use. 
		</p>
	</section>

	<section>
		<header><h1>Video</h1></header>
		<video width="320" height="240" controls>
				<source src = "https://ict.senecacollege.ca/~patrick.crawford/shared/fall-2019/web700/A3/movie.mp4" type = "video/mp4">
				<source src = "https://ict.senecacollege.ca/~patrick.crawford/shared/fall-2019/web700/A3/movie.ogg" type = "video/ogg">
				<source src = "https://ict.senecacollege.ca/~patrick.crawford/shared/fall-2019/web700/A3/movie.webm" type = "video/webm">
		</video> 
		<p>
			Here is an example of using video tag. The controls attribute adds video 
			controls, like play, pause, and volume. The source tag allows us to 
			specify alternative video files which the browser may choose from. 
			The browser uses the first recognized format.
		</p>
	</section>
		
		<!-- End your code here  -->

	</main>
</div>