@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yatra+One&display=swap');

body, html {
    background-image: url("/img/paper.gif");
    background-color: green;
    background: linear-gradient( to bottom, lightblue, white);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light {
    background: skyblue;
    /* fallback color */
    background: linear-gradient( to bottom, skyblue, white);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar-light .navbar-brand {
    color: darkblue;
    text-shadow: 1px 2px black;
    font-family: 'Lobster Two', cursive;
}

a.nav-link {
    font-family: 'Lobster', cursive;
    color: red !important;
}

a.nav-link:hover {
    color: darkred !important; 
    background-color: gray; 
}

.active {
    background-color: gray;
}

.btn-primary {
    background-color: darkblue;
    background: linear-gradient( to bottom, darkblue, silver);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn-primary:hover {
    color: yellow;
}

table tr:nth-child(odd) td {
    background-color: blue;
    background: linear-gradient( to bottom, skyblue, silver);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
    color: black;
    text-shadow: 1px 1px red;
}

caption {
    caption-side: top;
    font-family: 'Lobster Two', cursive;
    color: black;
    text-shadow: 1px 1px red;
}

a {
    color:purple;
}

a:hover {
    color:red;
}

p {
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

legend {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Yatra One', cursive;
    color: #123123;
    text-shadow: 1px 1px red;
}